body {
  font-family: 'Poppins', sans-serif;
  font-size: 15 px;
  line-height: 1.5;
  padding: 0;
  margin:0;
  color: cornflowerblue;
  background-image: url("../img/piano-rose.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Global settings*/
/*.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background: #2E7FC3;
  color: #FFBA2D;
  border: #17607f 3px solid;
  border-radius: 25px;
  padding: 20px;
}*/

/*header */.container {
  width: 60%;
  margin: auto;
  overflow: hidden;
  background-color: rgba(0,0,0, 0.7);
  padding: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  color: #FFB40E;
}

/* container */
section .container{
  height: 300px;
}

section#portfolio .container{
  height: 200px;
}

img {
  height: 200px;
}

/* header */
header, footer{
  background: Black;
  color: ##FFB40E;
  padding-top: 15px;
  min-height: 70px;
  border-bottom: #17607F 3px solid;
  /*position:fixed;
  top: 0;
  left: 0;
  width: 100%;*/
}

header a{
  color: #17607F;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;

}

header li {
  float: left;
  display: inline;
  padding: 0 15px 0 15px;

}

header #branding {
  float:left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top:15px;
}

header .hightlight, header .current a {
  color: #259ACC;
  font-weight: bold;
}

header a:hover {
  color:#cccccc;
  font-weight: bold;
}

#home img, #services img{
  float: left;
  padding: 0 20px 10px 0;
}

#home {
  margin-top: 10px;

}

#about img, #contact img{
  float: right;
  padding: 0 0 10px 20px;
}

#portfolio .container{
  text-align: center;
}

#portfolio h1, #services h1 {
  text-align: left;
}

#portfolio img {
  display: none;
}

#services {
  text-align: center;
}

#services ul {
  text-align: left;
}

/* side navigation */
.sidenav {

    position: fixed;
    right: 10%;
    top: 20%;
    height: 150px;
    opacity: 0.9;
    z-index: 100;
    margin:0;
    padding: 0;
    display: none;

}

.sidenav li {
  list-style-type: none;
  padding:0;
  font-size:0.01px;
  box-shadow: 3px 3px 3px #888;
}

.sidenav a {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid black;
  margin-top: 5px;
  overflow: hidden;
  vertical-align: top;
}

.sidenav a:hover {
  background-color: cornflowerblue;
}

.sidenav li.active a {
  background-color: cornflowerblue;
}

footer {
  border-top: #17607F 3px solid;
  text-align: center;
}

/* responsive */

@media screen and (max-width:1366px){
  /*header */.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
}

@media screen and (max-width:980px) {
  .sidenav {
    display: none;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15 px;
    line-height: 1.5;
    padding: 0;
    margin:0;
    color: cornflowerblue;
    background-image: url("../img/piano-rose.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  header nav, header #branding,
  header li, header a{
    float: none;
    text-align: center;
    margin:auto;
    width: 100%;
  }

  #home img, #about img,
  #services img, #contact img{
    float: none;
    text-align: center;
    display: block;
    margin:auto;
    padding: 0 0 0 0;
  }

  section .container,
  section#portfolio .container, section#services .container,
  section#container .container,#portfolio h1, #services h1  {
    float: none;
    text-align: center;
    margin:auto;
    height:auto;
  }

  .sidenav {
    right: 30px;
  }


  #services ul {
    text-align: center;
  }
}

@media screen and (max-width:320px){
  #branding {
    font-size: 12px;
  }

  #home img, #about img,
  #services img, #contact img{
    float: none;
    padding: 0 0 0 0;
    text-align: center;
    display: block;
    margin:auto;
  }

}

@media screen and (max-width:360px){
  #branding {
    font-size: 12px;
  }

  #home img, #about img,
  #services img, #contact img{
    float: none;
    padding: 0 0 0 0;
    text-align: center;
    display: block;
    margin:auto;
  }
}

@media screen and (max-width:768px){
  #branding {
    font-size: 12px;
  }

  #home img, #about img,
  #services img, #contact img{
    float: none;
    padding: 0 0 0 0;
    text-align: center;
    display: block;
    margin:auto;
  }
}
